<div class="container mt-4" style="max-width:800px">
  <h2 class="display-4 font-weight-bold mb-4">{{ editing ? 'Editar' : 'Nuevo' }} Miembro</h2>

  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="mb-3">
      <label>Nombre</label>
      <input class="form-control" formControlName="name" type="text">
      @if (form.get('name')?.invalid && form.get('name')?.touched){
        <div class="text-danger mt-1 small">
          @if (form.get('name')?.hasError('required')){
            <span>El nombre es obligatorio</span>
          }
        </div>
      }
    </div>

    <div class="mb-3">
      <label>Email</label>
      <input class="form-control" formControlName="email" type="email">
      @if(form.get('email')?.invalid && form.get('email')?.touched){
        <div class="text-danger mt-1 small">
          @if (form.get('email')?.hasError('required')){
            <span>El email es obligatorio</span>
          }
          @if (form.get('email')?.hasError('email')){
            <span>El email no es válido</span>
          }
        </div>
      }
    </div>

    <div class="mb-3">
      <label>Rol</label>
      <input class="form-control" formControlName="rol" type="text">
      @if (form.get('rol')?.invalid && form.get('rol')?.touched){
        <div class="text-danger mt-1 small">
          @if (form.get('rol')?.hasError('required')){
            <span>El rol es obligatorio</span>
          }
        </div>
      }
    </div>

    <div class="mb-3">
      <label class="form-label">Equipo</label>
      <select class="form-select" formControlName="teamId">
        <option [value]="null">-- Sin equipo --</option>
          @for(team of teams(); track $index){
            <option [value]="team.id">{{ team.name }}</option>
          }
      </select>
    </div>

    <div class="mt-3 d-flex gap-2">
      <button class="btn btn-primary" type="submit">Guardar</button>
      <a class="btn btn-link" routerLink="/admin/members">Cancelar</a>
    </div>
  </form>
</div>
