@use '../../../../scss/utils/variables' as *;

.hero-bg-svg{
  position: absolute;
    top: 0;
    right: 15vw;
    width: 20vw;
    height: 60vw;
    opacity: 0.1;
    z-index: 0;
    fill: $emerald;
}
