<header class="header alp-bg-white alp-box-shadow-soft">
  <div class="container mx-auto px-4 py-4">
    <div class="d-flex justify-content-between align-items-center">
      <div class="d-flex align-items-center">
        <a routerLink="/" class="alp-text-xl alp-bold alp-text-main-color">Alphi</a>
      </div>
      <nav class="navigation d-flex align-items-center">
        <a routerLink="/">Inicio</a>
        <a href="#quienessomos">¿Quienes Somos?</a>
        <a href="#servicios">Servicios</a>
        <a href="#enfoque">Enfoque</a>
        <a href="#clientes">Clientes</a>
        <a href="#clientes">Contacto</a>
        <a href="/plantilla">plantilla</a>
      </nav>
      <div class="contact-button-container d-flex">
        <a [href]="wp_consultoria" class="alp-btn-principal alp-text-sm">Consultoria gratuita</a>
        <a routerLink="/login" class="d-flex justify-content-center align-items-center mx-4 alp-text-md alp-text-main-blue"><i class="bi bi-box-arrow-in-right me-2"></i>Iniciar sesión </a>
      </div>
    </div>
  </div>
</header>
