@use "../utils/variables" as *;

.alp-icon-box {
  width: 64px;
  height: 64px;
  border-radius: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.alp-icon-size{
  font-size: 1.5rem;
}
/* Icon backgrounds */
.alp-icon-blue{
  background-color: $light-blue;
}
.alp-icon-green{
  background-color: $light-green;
}
.alp-icon-purple{
  background-color: $light-purple;
}
.alp-icon-orange{
  background-color: $light-orange;
}
.alp-icon-white{
  background-color: $black;
}

.alp-bg-emerald-light {
  background-color: $emerald-light;
}

/* Icon colors */
.alp-icon-color-blue{
  color: $secondary-blue;
}
.alp-icon-color-green{
  color: $secondary-green;
}
.alp-icon-color-purple{
  color: $purple;
}
.alp-icon-color-orange{
  color: $orange;
}
.alp-icon-color-white{
  color: $white;
}
