@use "../utils/variables";

.alp-table-main{
  border-width: 1px;
  border-radius: .5rem;
  box-shadow: variables.$shadow-soft;
  overflow: hidden;
  table{
    background-color: variables.$white;
    th{
      color: variables.$main-gray;
      font-weight: 500;
      vertical-align: middle;
      text-align: left;
      padding-left: 1rem;
      padding-right: 1rem;
      height: 3rem;
    }
    td{
      color: variables.$light-black;
      font-size: 14px;
      padding: 1rem;
      &:first-child{
        font-weight: 500;
      }
      &:last-child{
        font-weight: 500;
      }
      .alp-table-main-buttons{
        font-weight: 500;
        font-size: 0.875rem;
        line-height: 1.25rem;
        border-radius: 0.5rem;
        margin-right: 0.5rem;
        border: 1px solid variables.$light-blue;
        &:hover{
          cursor: pointer;
          background-color: variables.$purple;
          transition: all .3s ease-in-out;
          color: variables.$white;
        }
        &.alp-table-delete-btn{
          &:hover{
            background-color: variables.$red;
          }
        }
        &.alp-table-success-btn{
          &:hover{
            background-color: variables.$secondary-green;
          }
        }
      }

    }
  }
}
