@use "../utils/variables";
@use "../utils/helpers";

.navigation{
    a{
      color: variables.$main-gray;
      margin: 0 1rem;
      font-weight: 600;
      &:not([href]){
        color: variables.$main-gray;
        &:hover{
          color: variables.$main-blue;
          cursor: pointer;
        }
      }
      &:hover{
        color: variables.$main-blue;
        cursor: pointer;
      }
    }
}

.alp-navigation-menu{
  a{
    color: variables.$white;
    outline: 2px solid transparent;
    outline-offset: 2px;
    font-size: .875rem;
    line-height: 0.875rem;
    padding: 1rem.5rem;
    border-radius: .5rem;
    overflow: hidden;
    margin: .5rem 0;
    width: 100%;
    display: flex;
    align-items: center;
    &:hover{
      color: variables.$white;
      background-color: variables.$white-opacity;
      cursor: pointer;
    }
    &.active{
      color: variables.$white;
      background-color: variables.$white-opacity;
    }
  }
}
