@use "../../../scss/utils/variables";

.alp-banner-container{
  padding-top: 5rem;
  padding-bottom: 5rem;
  .alp-banner-container-data{
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: 2rem;
    max-width: 42rem;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5rem;
  }
}

.alp-quienes_somos-container{
  padding-top: 4rem;
  padding-bottom: 4rem;
  .alp-quienes_somos-stats{
    padding: 2rem;
    background-image: linear-gradient(135deg, #ebf2fe, #e9f6ed);
    border-radius: 1rem;
  }
  .alp-quienes_somos-options{
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    gap: 1.5rem;
    .alp-option-icon{
      width: 4rem;
      height: 4rem;
      background-color: variables.$light-blue;
      color: variables.$secondary-blue;
      i:before{
        font-size: 2rem;
      }
    }
  }
}

.alp-servicios-container{
  padding-top: 4rem;
  padding-bottom: 4rem;
  .alp-servicios-grid{
    display: grid;
    grid-template-columns: repeat(2, minmax(0px, 1fr));
    gap: 2rem;
  }
}

.alp-clientes-comentarios-container{
  padding-top: 4rem;
  padding-bottom: 4rem;
  .alp-clientes-comentarios-grid{
    display: grid;
    grid-template-columns: repeat(3, minmax(0px, 1fr));
    gap: 2rem;
    margin-bottom: 4rem;
  }
}

.alp-banner-datos-container{
  padding-top: 4rem;
  padding-bottom: 4rem;
  .alp-banner-datos-grid{
    display: grid;
    grid-template-columns: repeat(4, minmax(0px, 1fr));
    gap: 2rem;
    margin-bottom: 4rem;
  }
}
