<div class="alp-cards">
  <div class="d-flex align-items-start">
    <div class="alp-icon-{{services().iconColor}} alp-icon">
        <i class="{{ services().icon }} alp-icon-color-{{services().iconColor}}"></i>
    </div>
    <div class="ms-3 alp-flex-full">
      <h3 class="alp-text-xl alp-semibold mb-2">{{services().name}}</h3>
      <p class="mb-3 alp-text-main-color">{{services().description}}</p>
      <ul>
        @for( avaliable of services().availableServices; track $index){
          <li class="d-flex align-items-center alp-text-sm ms-2 mt-2 alp-text-main-color">{{avaliable}}</li>
        }
      </ul>
      <div class="mt-3">
        <a href="" class="alp-text-main-blue alp-card-animation-button d-flex align-items-center">Más información <i class="bi bi-arrow-right-short ms-2 alp-icon-size"></i></a>
      </div>
    </div>
  </div>
</div>
