@use '../../../../scss/utils/variables' as *;

/* Custom Navbar */
.custom-nav {
  background-color: $white-85;
  backdrop-filter: blur(15px);
  border-bottom: 1px solid $green-10;
  transition: all 0.3s ease;
}

.nav-link {
  font-weight: 600;
  color: $gray !important;
  transition: color 0.2s;
}

.nav-link:hover {
  color: $emerald !important;
}
