<!-- Navbar -->
<nav class="navbar navbar-expand-md fixed-top custom-nav shadow-sm">
  <div class="container py-2">
    <a class="navbar-brand d-flex align-items-center gap-2" href="#">
      <div class="logo-container">
        <div class="logo-bg-1"></div>
        <div class="logo-bg-2"></div>
        <span class="logo-text">A</span>
      </div>
      <span class="brand-name">Alphi</span>
    </a>

    <button class="navbar-toggler border-0" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
      <ul class="navbar-nav align-items-center gap-lg-4">
        <li class="nav-item"><a class="nav-link px-3" href="#inicio">Inicio</a></li>
        <li class="nav-item"><a class="nav-link px-3" href="#nosotros">Nosotros</a></li>
        <li class="nav-item"><a class="nav-link px-3" href="#servicios">Servicios</a></li>
        <li class="nav-item"><a class="nav-link px-3" href="#clientes">Testimonios</a></li>
        <li class="nav-item ms-lg-2">
          <a [href]="wp_consultoria" class="btn btn-emerald rounded-pill px-4 py-2">Consultoría Gratis</a>
        </li>
        <li class="nav-item">
          <a routerLink="/login" class="d-flex justify-content-center align-items-center mx-4 alp-text-md alp-text-main-blue"><i class="bi bi-box-arrow-in-right me-2"></i>Iniciar sesión </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
